<h2 mat-dialog-title>{{card.name}}</h2>
<mat-dialog-content class="mat-typography">

  <mat-form-field appearance="standard" class="w-100">
    <mat-label>Description</mat-label>
    <textarea matInput>{{card.note}}</textarea>
  </mat-form-field>

  <mat-form-field appearance="standard" class="w-100">
    <mat-label>Lieu</mat-label>
    <input matInput [value]="card.place">
  </mat-form-field>

  <mat-form-field appearance="standard" class="w-100">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="rangePicker">
      <input matStartDate placeholder="Start date">
      <input matEndDate placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
    <mat-date-range-picker #rangePicker>
      <mat-date-range-picker-actions>
        <button mat-button matDateRangePickerCancel>Cancel</button>
        <button mat-raised-button color="primary" matDateRangePickerApply>Apply</button>
      </mat-date-range-picker-actions>
    </mat-date-range-picker>
  </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Update</button>
</mat-dialog-actions>
