<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark blue lighten-1" [containerInside]="false">
  <!-- Navbar brand -->
  <mdb-navbar-brand>
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">Accueil</a>
  </mdb-navbar-brand>
  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" (click)="addUser()" routerLinkActive="active" mdbWavesEffect>Ajouter un
          utilisateur</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" (click)="addKanban()" routerLinkActive="active" mdbWavesEffect>Ajouter un
          kanban</a>
      </li>
    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->
