<h2 mat-dialog-title class="w-100">
  <input matInput [(ngModel)]="card.name">
</h2>
<mat-dialog-content class="mat-typography">

  <mat-form-field appearance="standard" class="w-100">
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="card.note"></textarea>
  </mat-form-field>

  <mat-form-field appearance="standard" class="w-100">
    <mat-label>Lieu</mat-label>
    <input matInput [(ngModel)]="card.place">
  </mat-form-field>

  <mat-form-field appearance="standard" class="w-100">
    <mat-label>Temps estimé (en semaines)</mat-label>
    <input matInput type="number" [(ngModel)]="card.estimated">
  </mat-form-field>

  <form [formGroup]="myForm">
    <mat-form-field appearance="standard" class="w-100">
      <mat-label>Date de fin</mat-label>
      <input matInput [matDatepicker]="picker" (dateChange)="changeDatePicker()" formControlName="end">
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>

  <mat-form-field appearance="standard" class="w-100">
    <mat-label>Ressource externe</mat-label>
    <input matInput type="url" [(ngModel)]="card.url">
  </mat-form-field>

  <span>Utilisateur ayant crée cette carte</span>
  <mat-form-field appearance="standard" class="w-100">
    <mat-label>Utilisateur</mat-label>
    <mat-select [(ngModel)]="card.user">
      <mat-option *ngFor="let user of users" [value]="user">{{user.name}}</mat-option>
    </mat-select>
  </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="save()">Save</button>
</mat-dialog-actions>
